Source/[Bb]uild*/
Source/[Bb]inary/
Source/bin/
Source/obj/
Source/GeneratedFiles/
Source/*.ipch
Source/*.opensdf
Source/*.sdf
Source/*.suo
Source/*.vcxproj.user
Source/*.obj
Source/*.tlog
Source/*.VC.opendb
Source/*.VC.db
Source/.vs/
Source/.vscode/
/Source/out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/linux-venv

# Cython
/_dolphin_memory_engine.cpp

# Project
/python_src/dolphin_memory_engine/version.py