Source/[Bb]uild*/
Source/[Bb]inary/
Source/bin/
Source/obj/
Source/GeneratedFiles/
Source/*.ipch
Source/*.opensdf
Source/*.sdf
Source/*.suo
Source/*.vcxproj.user
Source/*.obj
Source/*.tlog
Source/*.VC.opendb
Source/*.VC.db
Source/.vs/
Source/.vscode/
/Source/out

*.pyc

/.eggs
/build
/venv
/linux-venv
/dist
/_dolphin_memory_engine.cpp
/dolphin_memory_engine.egg-info
/*.pyd
