# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
    python: python3.8

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black